.root {
    -fx-font-family: "System";
    -fx-font-size: 13.0px;
    -fx-base: #E7E7E7;
    -fx-background: #EEEEEE;
    -fx-background-color: -fx-background;
    -fx-focus-color: cornflowerblue;
    -fx-accent: cornflowerblue;
    -fx-focus-color:-fx-accent;
    -fx-color: -fx-base;
    -fx-control-inner-background: -fx-background;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,100.0%) 0%, derive(-fx-color,6.329078014184397%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 35.0%) 0%, derive(-fx-color, -6.0%) 100%);
    -fx-outer-border: derive(-fx-color,-16.036036036036037%);
    -fx-shadow-highlight-color: derive(-fx-background,100.0%);
    -fx-text-background-color: #000000;
    -fx-text-base-color:#000000;
    -fx-cell-hover-color: -fx-background;
    -fx-cell-focus-inner-border: #85b9de;

}
