.root {
  -icons-color: -fx-text-base-color;
}

.icons{
  -fx-font-family: FontAwesome;
  -fx-font-size: 16px;
  -fx-effect: innershadow( three-pass-box , derive(-icons-color,-70%) , 0.05em, 0.0 , 0.03em, 0.03em );
  -fx-text-fill: linear-gradient(to bottom, derive(-icons-color,20%) 10%, derive(-icons-color,-20%) 80%);
}

.icons:hover{
  -fx-effect: dropshadow( three-pass-box , derive(-icons-color,0%) , 0.01em, 0.0 , 0, 0);
}
